<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container" style="display: flex;  justify-content: space-between;" >
    <div>
       <a class="navbar-brand " href="/">Linh Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
   <div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown ">
          
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar" src="https://relife-fileserver.nvcms.net/IMAGES/2023/01/10/1005-0-202301101036.jpg" alt="">
            Khanh Linh
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/courses/create">Add Data</a></li>
            <li><a class="dropdown-item" href="/me/stored/courses">My Data</a></li> 
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
   </div>
    
  </div>
</nav>
