<div style="margin-left: 40px;  margin-right:40px ">
 <form method="POST" class="mt-4 mx-10 ">
  <div class="mb-3">
    <label for="search-input" class="form-label">Search</label>
    <input  placeholder="Search...." type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp">
  </div>
 
  <button type="submit" class="btn btn-primary">Search</button>
</form>   
</div>

